Client/Client/Service References/WebService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="giai_pt_bac_1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="giai_pt_bac_1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="giai_pt_bac_1Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="giai_pt_bac_2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="c" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="giai_pt_bac_2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="giai_pt_bac_2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="giai_pt_bac_1SoapIn">
    <wsdl:part name="parameters" element="tns:giai_pt_bac_1" />
  </wsdl:message>
  <wsdl:message name="giai_pt_bac_1SoapOut">
    <wsdl:part name="parameters" element="tns:giai_pt_bac_1Response" />
  </wsdl:message>
  <wsdl:message name="giai_pt_bac_2SoapIn">
    <wsdl:part name="parameters" element="tns:giai_pt_bac_2" />
  </wsdl:message>
  <wsdl:message name="giai_pt_bac_2SoapOut">
    <wsdl:part name="parameters" element="tns:giai_pt_bac_2Response" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="giai_pt_bac_1">
      <wsdl:input message="tns:giai_pt_bac_1SoapIn" />
      <wsdl:output message="tns:giai_pt_bac_1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="giai_pt_bac_2">
      <wsdl:input message="tns:giai_pt_bac_2SoapIn" />
      <wsdl:output message="tns:giai_pt_bac_2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="giai_pt_bac_1">
      <soap:operation soapAction="http://tempuri.org/giai_pt_bac_1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="giai_pt_bac_2">
      <soap:operation soapAction="http://tempuri.org/giai_pt_bac_2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="giai_pt_bac_1">
      <soap12:operation soapAction="http://tempuri.org/giai_pt_bac_1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="giai_pt_bac_2">
      <soap12:operation soapAction="http://tempuri.org/giai_pt_bac_2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:51007/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:51007/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>