04_Buoi_14_10_20/JavaClient/xml-resources/web-service-references/NewWebService/wsdl/localhost_8080/JavaServer/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://code/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://code/" name="NewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://code/" schemaLocation="http://localhost:8080/JavaServer/NewWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="uocSoLe">
<part name="parameters" element="tns:uocSoLe"/>
</message>
<message name="uocSoLeResponse">
<part name="parameters" element="tns:uocSoLeResponse"/>
</message>
<message name="uocSo">
<part name="parameters" element="tns:uocSo"/>
</message>
<message name="uocSoResponse">
<part name="parameters" element="tns:uocSoResponse"/>
</message>
<message name="uocSoChan">
<part name="parameters" element="tns:uocSoChan"/>
</message>
<message name="uocSoChanResponse">
<part name="parameters" element="tns:uocSoChanResponse"/>
</message>
<portType name="NewWebService">
<operation name="uocSoLe">
<input wsam:Action="http://code/NewWebService/uocSoLeRequest" message="tns:uocSoLe"/>
<output wsam:Action="http://code/NewWebService/uocSoLeResponse" message="tns:uocSoLeResponse"/>
</operation>
<operation name="uocSo">
<input wsam:Action="http://code/NewWebService/uocSoRequest" message="tns:uocSo"/>
<output wsam:Action="http://code/NewWebService/uocSoResponse" message="tns:uocSoResponse"/>
</operation>
<operation name="uocSoChan">
<input wsam:Action="http://code/NewWebService/uocSoChanRequest" message="tns:uocSoChan"/>
<output wsam:Action="http://code/NewWebService/uocSoChanResponse" message="tns:uocSoChanResponse"/>
</operation>
</portType>
<binding name="NewWebServicePortBinding" type="tns:NewWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="uocSoLe">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="uocSo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="uocSoChan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NewWebService">
<port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
<soap:address location="http://localhost:8080/JavaServer/NewWebService"/>
</port>
</service>
</definitions>